<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <supremis_force_login>
            <configuration>
                <is_enabled>1</is_enabled>
            </configuration>
        </supremis_force_login>
    </default>
</config>
